@CHARSET "ISO-8859-1";
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    //border: 10px solid blue;
    line-height:30px;
    background-color:#eeeeee;
    height:1200px;
    width:100px;
    float:left;
    padding:5px;
    
}
#section {
    //border: 10px solid blue;
    width:1000px;
    float:left;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 10px;
}

#aside{
    //border: 10px solid blue;
    width: 155px;
    float: right;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
   
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

table {
    width:80%;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}
table, th, td {
    border: 0px solid #eeeeee;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}

table#t02 tr:nth-child(even) {
    background-color: #eee;
}
table#t02 tr:nth-child(odd) {
   background-color: #eee;
}
table#t02 th	{
    background-color: black;
    color: white;
}

#searchBox {
    background: #fff;
    width: 950px;
    padding: 10px;
    //border: 25px solid #fff;
    //margin: 25px;
}

#itemInfoBox{
    width: 900px;
    padding: 10px;
    //border: 25px solid #fff;
    //margin: 25px;
}

#tableBox{
    border-radius: 25px;
    
}

/*#shoppingCartButton{
  padding:5px;
  background-color: #dcdcdc;
  border: 2px solid #666;
  color: black;
  text-decoration:none;
}*/

